pycache/
.py[cod]
.log
.logs/
.env
data/raw/.parquet
data/processed/.parquet
data/output/.parquet
data/output/.html
logs/.log
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
venv/
ENV/
chromedriver
geckodriver*
